html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}
body{
	background-image:url("../Images/background.jpg");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
		
}

.container {
  max-width:940px;
}

/* Header */
.header {
  padding: 10px 0;
  background-color:rgba(0,0,0,0.5);
  height:60px;
  
}


.logo{
	margin:0px 30px 0px;
	height:36px;
	width:60px;
}
.heading{
    color: white;
    display: inline;
}

/* Jumbotron */
.jumbotron {
    height: 555px;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
    text-align:center;
    margin: 0px;
    background-image: url(../Images/slide1.jpg);
    background-position:center center;
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment:fixed;
    transition: background-image .6s ease-out;
}

.next{
    opacity: 0.3;
    width: 120px;
    height: 100px;
    float: right;
    position: relative;
    top: 130px;
}
.next:hover{
    opacity: 1;
    cursor: pointer;
}

.previous{
    opacity: 0.3;
    width: 120px;
    height: 100px;
    float: left;
    position: relative;
    top: 130px;
}
.previous:hover{
    opacity: 1;
    cursor: pointer;
}
.carousel{
    clear: both;
}


.jumbotron h1{
	color:#FFFFFF;	
}

/* Supporting */
.supporting {
  margin-top: 40px;
  color:#FFFFFF;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  text-align:center;
}

.supporting img{
	width:130px;
	height:130px;
}

/* Buttons */
.btn2{
    padding: 5px 30px;
    border: 2px solid rgba(0,255,188,0.5);
	color:#FFFFFF;
	border-radius:8px;
	font-size:18px;
    float: right;
    margin-right: 5px;
}

.btn2:hover{
	background-color:rgba(0,255,188,0.8);
	color:#FFFFFF;
    text-decoration: none;
}

.btn1{
    padding: 5px 30px;
    border: 2px solid rgba(0,255,188,0.5);
    background-color: rgba(0,255,188,0.8);
	color:#FFFFFF;
	border-radius:8px;
	font-size:18px;
    float: right;
    margin-right: 5px;
}

.btn1:hover{
	background-color:rgba(0,255,188,1);
	color:#FFFFFF;
    text-decoration: none;
}

/* Footer */
.footer{
    padding: 10px 0;
    background-color:rgba(0,0,0,0.5);
    height:50px;
}
.footer h4{
    color: azure;
    display: inline;
}

.footerNav{
    text-decoration: none;
    color: white;
    float: right;
}

.footerNav:hover{
    color: rgba(0,255,188,0.8);
    border-bottom: 1px solid rgba(0,255,188,0.8);
    text-decoration: none;
    cursor: pointer;
    
}

.carousel-indicators{
    position: relative;
    top: 450px;
}

.jumbotronS {
    height: 700px;
    margin: 0px;
    background-color: azure;
}

.jumbotronS h1{
        font-size: 48px;    
        text-shadow: 0 2px 3px rgba(0,0,0,.4);
        text-align:center;
        margin-bottom: 60px;
}

.hidden{
    display: none;
}

.overlay
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 101;
    background-color: #000000;
    opacity: .35;
}

.signIn{
    background-color: azure;
    height: 300px;
    width: 500px;
    border-radius:5px;
    box-shadow:5px 5px 30px 5px #424242;
    padding:10px;
    box-sizing:border-box;
    position: fixed;
    top: 200px;
    left: 450px;
    background-color: #F5F5F5;
    display: none;
    z-index: 102;
}

.signIn h3{
    margin-bottom: 35px;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
    text-align: center;
}

.signIn img{
    width: 20px;
    height: 15px;
    float: right;
}

.signIn a:hover{
    text-decoration: underline;
    cursor: pointer;
    
}
.btn1:link{
    text-decoration: none;
}

.jumbotronF {
    height: 556px;
    margin: 0px;
    background-color: azure;
}

.jumbotronF h1{
        font-size: 48px;    
        text-shadow: 0 2px 3px rgba(0,0,0,.4);
        text-align:center;
        margin-bottom: 100px;
}

.jumbotronT {
    height: 3570px;
    margin: 0px;
    background-color: azure;
}

.jumbotronT .container{
    padding-top: 50px;
}

.jumbotronT h1{  
        text-shadow: 0 2px 3px rgba(0,0,0,.4);
        text-align:center;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../Fonts/glyphicons-halflings-regular.eot');
  src: url('../Fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded- opentype'), url('../Fonts/glyphicons-halflings-regular.woff') format('woff'), url('../Fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../Fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.hidden{
    display: none;
}

/* User Profile */

.search{
    width:282px;
    border-radius: 20px;
}

.usrHeader input[type="text"]:focus{
    border-color: rgba(0,255,188, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0,255,188, 0.6);
}

.proNav{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    margin-right: 10px;
    padding: 23px 10px;
    
}

.proNav:hover{
    color: white;
    background-color: #009966;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,255,188,0.8);
    
}
.usrHeader img{
    width:40px;
    height: 40px;
}

.dropdown{
    list-style: none;
    padding: 10px 20px;
    position: absolute;
    margin: 0px;
    margin-top: 5px;
    background-color: azure;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    font-size: 12px;
    font-family: verdana;
    width: 170px;
    border-radius: 5px;
    border: 1px solid grey;
    z-index: 101;
    display: none;
    box-shadow:2px 2px 10px 0px #424242;
}

.dropdownItem{
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}
.jumbotronU {
    height: 870px;
    background-color: azure;
    box-sizing: border-box;
    margin: 0px;
}
.profileHeader{
    height: 220px;
    margin: 10px auto;
    background-color: white;
    border-radius: 6px;
    border: 1px solid lightgrey;
    width: 99%;
    box-sizing: border-box;
}
.profileHeader h1{
    font-weight: bold;
    text-shadow: 0 3px 4px rgba(0,0,0,.4);
    margin-bottom: 10px;
}
.profileHeaderLink{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profileHeaderLink:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profileHeader h3{
    margin-bottom: 20px;
}

.edit{
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
    top:-45px;
    left: 180px;
    opacity: 0.1;
}
.edit:hover{
    opacity: 1;
}

.profileImage{
    width: 200px;
    height: 190px;
    background-image: url(../Images/Users/Profile/jon.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 10px;
    margin-right: 50px;
    border: 1px solid grey;
    border-radius: 3px;
    float: left;
}

.profileImage .profileImageCaption {
    width:200px;
    height:60px;
    background:rgba(0, 0, 0, 0.5);
    padding:2%;
    display: none;
    text-align: center;
    color:#fff !important;
    z-index:2;
    position: relative;
    top:130px;
}
.profilePictureBtn{
    padding: 10px 20px;
    position: relative;
    top:15px;
}


.circles{
    width: 20%;
    height:500px;
    background-color: white;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 6px;
    background-color: white;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

.circles h1{
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px dashed grey;
}

.circleImg{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.newCircle{
    width: 70px;
    height: 70px;
    margin-top: 25px; 
    position: relative;
    left: 25px;
}

.plusCircle{
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 201;
    left:-38px;
    top:12px;
    opacity: 0.1;
}

.plusCircle:hover{
    opacity: 0.9;
}

.albums{
    width: 78%;
    margin-left: 10px;
    box-sizing: border-box;
    height: 500px;
    float: left;
    background-color: white;
    border-radius: 6px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    overflow: hidden;
}

.subcircle{
    margin: 40px auto;
}

.statusClass p{
    font-size: 18px;
}

.headingUsr{
    
    position: absolute;
    top:200px;
    left: 500px;
    color: grey;
}

.profNav{ 
    width:76%;
    height:30px;
    position: relative;
    top:84px;
    left: 217px;
    padding: 0px;
    box-sizing: border-box;
   
}

.profNav a{
    color: black;
    text-decoration: none;
}

.profNavLinkLeft{
    width:50%;
    height:30px;
    position: absolute;
    left: 0;
    text-align: center;
    border-top-left-radius: 7px;
    font-size:18px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

.profNavLinkRight{
    width:50%;
    height:30px;
    float: right;
    position: absolute;
    right: 0;
    text-align: center;
    border-top-right-radius: 7px;
    font-size:18px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

.profNavLinkLeft:hover{
	background-color:#339966;
    text-decoration: none;
}
.profNavLinkRight:hover{
	background-color:#339966;
    text-decoration: none;
}

.activeLink{
    background-color:#339966;
	
}

.profNav a .activeLink{
    text-decoration: none;
}

.addAlbumLogo{
    width: 40px;
    height: 40px;
    z-index: 101;
    position: relative;
    left: 20px;
    top: 10px;
    
}


/* Albums Handling */

.albums .container{
    margin-top: 20px;
    box-sizing: border-box;
}

.thumbnail {
    position:relative;
    overflow:hidden;
    width: 35%;
    height:180px;
    float:left;
    margin-right: 28px;
    box-sizing: border-box;
}
.CircleInfo .thumbnail img{
    width:100%;
    height:100%;
}
 
.headingAlbums{
    background-color: rgba(139, 0, 0,0.5);
    padding: 10px 0px;
    text-align: center;
    border-radius: 12px;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.7);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: center;
    color:#fff !important;
    z-index:2;
}

.buttonAlbum{
    position: relative;
    top:45px;
    padding: 10px 15px;
}

.nextButtonAlbum{
    clear: both;
    width: 60px;
    height: 50px;
    position: relative;
    left: 90%;
    top:-5px;
}

/* About Info */
.AboutInfo{
    width: 53%;
    margin-left: 10px;
    box-sizing: border-box;
    height: 500px;
    float: left;
    background-color: white;
    border-radius: 6px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 102;
    position: absolute;
    top:300px;
    left:400px;
    display: none;
}

.AboutInfo h1{
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    background-color: #F3F3F3;
    line-height: 46px;
    margin-top: 0px;
}

.AboutInfo h4{
    
    margin: 25px auto;
    margin-left: 25px;
}

.statusPara{
    font-family: Arial, Helvetica, sans-serif;
}

.CircleInfo{
    width: 53%;
    margin-left: 10px;
    box-sizing: border-box;
    height: 500px;
    float: left;
    background-color: white;
    border-radius: 6px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 102;
    position: absolute;
    top:300px;
    left:400px;
    display: none;
}

.CircleInfo h1{
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
    text-align: center;
    background-color: rgb(0,255,188);
    line-height: 46px;
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    background-color: #F3F3F3;
}

/* New Albums */

.newAlbum{
    width: 53%;
    margin-left: 10px;
    box-sizing: border-box;
    height: 500px;
    float: left;
    background-color: white;
    border-radius: 6px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 202;
    position: absolute;
    top:300px;
    left:400px;
    display: none;
}

.newAlbum h1{
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    background-color: #F3F3F3;
    line-height: 46px;
    margin-top: 0px;
}

.newAlbumImage{
    width: 150px;
    height: 150px;
    float: left;
}

.newAlbumSec{
    width:56%;
    height: 200px;
    float: left;
    padding-top: 20px;
    margin-right: 5px;
    box-sizing: border-box;
}

.uploadBtn{
	display:block;
	background-color:rgba(33,210,73,0.9);
	color:#FFFFFF;
	width:100px;
	height:35px;
	border-radius:5px;
	font-size:16px;
	text-decoration:none;
    text-align: center;
    padding: 5px;
		
}
.uploadBtn:hover{
	background-color:rgba(33,210,73,1.0);
	color:#FFFFFF;
	transition:0.5s;
	box-shadow:0.2px 0.3px 5px #2F2B2B;
    text-decoration:none;
}

.uploader{
    clear: both;
    width: 100%;
    height:250px;
    padding-top: 15px;
    box-sizing: border-box;
}

.nextUploader{
    width: 80px;
    height: 70px;
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.uploaderCaption{
    background:rgba(255, 255, 255, 0.7);
}




/* Friend Profile */

.friend{
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
    top:-45px;
    left: 180px;
}

.removeFriend{
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
    top:-45px;
    left: 480px;
}



